.bender/
Bender.lock
.vscode/
__pycache__

// Modelsim Fiels
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out

// Docs
/site/
/docs/generated/

target/snitch_cluster/*.csv
sw/onnx/maxpool/data/data.h
target/snitch_cluster/logs/
